section article p
{
	font-size: 1.5rem;
	margin: 1%;
}

section article 
{
	border: 0.3em solid blue;
	border-radius: 6%;
	margin: 1%;
}

section article img
{
	width: 50%;
	height: 50%;
}

@media (min-width: 500px) 
{

	section article img
{
	width: 15%;
	height: 15%;
}	

}

